
/*##############################################################################
                                                            GLOBAL SETTINGS
##############################################################################*/
:root {
  /*Colors*/
  --main-bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);

  /*Font-color*/
  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stats: hsla(0, 0%, 100%, 0.6);

  /*Font*/
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Lexend Deca', sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

main {
  position: relative;
  display:flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}
/*##############################################################################
                                                            TEXT
##############################################################################*/

h1 {
 color: var(--main-heading);
 text-align: center;
 font-family: var(--primary-font);
 font-weight: 700;
 line-height: normal;
 margin:

}

.header-accent {
  color: var(--accent-color);
}

.main-paragraph  {
  color: var(--main-paragraph);
  font-size: 1em;
  font-family:  var(--primary-font);
  font-weight: 400;

}

.stats-list {
  color: var(--main-heading) ;
  display:block;
  text-transform: uppercase;
}

.stats-list > span {
  color: var(--stats);
}
.attribution {
  font-size: 0.8em;
   text-align: center;
   color: var(--stats);
 }
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*##############################################################################
                                                        CONTAINERS
##############################################################################*/
.wrapper {
  display:flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  width: min(85%, 375px);
  overflow-x: hidden;
}


.overlay {
    position:relative;
    background-image: url('images/image-header-mobile.jpg');
    height:270px;
    width: 100%;;
    repeat: no-repeat;
    background-size:cover;
      border-radius: 10px 10px 0 0;

}

.overlay::before {
  content: "";
  background: hsl(277, 93%, 31%, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
border-radius: 10px 10px 0 0;

}
.text-container {
  margin: .7em;
  line-height: 1.5em;
  justify-content: center;
  text-align: center;
}
